:root {
    color-scheme: light dark;

    --foreground-color: rgb(55, 53, 47)

    --default: #91918e;
    --gray: #e3e2e0;
    --brown: #edc1ae;
    --orange: #fadec9;
    --yellow: #fdecc8;
    --green: #dbeddb;
    --blue: #5b97bd;
    --purple: #e8deee;
    --pink: #f5e0e9;
    --red: #ffe2dd;
  }

html {
    color: var(--foreground-color);
}

svg {
    fill: var(--foreground-color);
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin-block: 0
}


a {
    color: inherit;
}

button {
    background: transparent;
    border-width: 1px;
    cursor: pointer;
    border: none;
}


@media (prefers-color-scheme: dark) {
:root {

    --foreground-color: rgb(247, 243, 234);

    --default: #91918e;
    --gray: #e3e2e0;
    --brown: #b88e7b;
    --orange: #fadec9;
    --yellow: #dec186;
    --green: #9cb89c;
    --blue: #5b97bd;
    --purple: #b696c9;
    --pink: #c28ea5;
    --red: #d99d92;
  }
}

